.quizName {
  position: relative;
  line-height: 2;
  text-align: center;
  cursor: pointer;
}

.quizName {
  h4 {
    //margin-bottom: 0;
    background: #fdf9c7;
  }
}

.quizName:after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 25%;
  transform: translateY(-50%);
  right: 2rem;
  background-image: url("../../../javascript/src/svg/gear.svg");
}

.sidebarButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 0 3rem;
  box-sizing: border-box;
}

.sidebarButtonContainer {
  button {
    width: 100%;
  }

  button:first-child {
    margin-bottom: 1.6rem;
  }
}

.questionsContainer {
  margin-bottom: 3rem;
}

.questionContainer {
  display: flex;
  justify-content: space-between;
  color: var(--deep-blue);
  align-items: center;
  padding: 1rem 0 1rem 3rem;
  box-sizing: border-box;
  font-size: 2.4rem;
}

.questionContainer.active {
  background-color: var(--deep-blue);

  a {
    color: var(--white);
  }
}

.questionIcon {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
