.quiz {
  padding-top: 7rem;
  width: 100%;
}

.label {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 1.6rem;
}

.createQuestionButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 4.4rem;
}

.button:first-child {
  margin-right: 3.2rem;
}
