.quizLibrary {
  margin-top: 4.9rem;
  width: 100%;
}

.settingsContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.settings {
  display: flex;
  align-items: center;
}

.settingsIcon {
  margin-right: 1rem;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--black);
  padding-top: 66%;
  position: relative;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.text {
  text-align: center;
  margin-bottom: 2.45rem;
}

.logout {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 3.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.quizThumb {
  margin-bottom: 2.4rem;
}

.item {
  position: relative;
  margin: 0 0 7rem 3.5rem;
  box-sizing: border-box;
}
