
@font-face {
  font-family: "merriweatherblack_italic";
  src: url("../fonts/merriweather-blackitalic-webfont.woff2") format("woff2"),
    url("../fonts/merriweather-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweatherbold_italic";
  src: url("../fonts/merriweather-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/merriweather-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweatheritalic";
  src: url("../fonts/merriweather-italic-webfont.woff2") format("woff2"),
    url("../fonts/merriweather-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweatherlight";
  src: url("../fonts/merriweather-light-webfont.woff2") format("woff2"),
    url("../fonts/merriweather-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweatherlight_italic";
  src: url("../fonts/merriweather-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/merriweather-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "merriweatherregular";
  src: url("../fonts/merriweather-regular-webfont.woff2") format("woff2"),
    url("../fonts/merriweather-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishbold_italic";
  src: url("../fonts/mulish-bolditalic-webfont.woff2") format("woff2"),
    url("../fonts/mulish-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishblack";
  src: url("../fonts/mulish-black-webfont.woff2") format("woff2"),
    url("../fonts/mulish-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishblack_italic";
  src: url("../fonts/mulish-blackitalic-webfont.woff2") format("woff2"),
    url("../fonts/mulish-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishbold";
  src: url("../fonts/mulish-bold-webfont.woff2") format("woff2"),
    url("../fonts/mulish-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishextrabold";
  src: url("../fonts/mulish-extrabold-webfont.woff2") format("woff2"),
    url("../fonts/mulish-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishextrabold_italic";
  src: url("../fonts/mulish-extrabolditalic-webfont.woff2") format("woff2"),
    url("../fonts/mulish-extrabolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishextralight";
  src: url("../fonts/mulish-extralight-webfont.woff2") format("woff2"),
    url("../fonts/mulish-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishextralight_italic";
  src: url("../fonts/mulish-extralightitalic-webfont.woff2") format("woff2"),
    url("../fonts/mulish-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishitalic";
  src: url("../fonts/mulish-italic-webfont.woff2") format("woff2"),
    url("../fonts/mulish-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishlight";
  src: url("../fonts/mulish-light-webfont.woff2") format("woff2"),
    url("../fonts/mulish-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mulishlight_italic";
  src: url("../fonts/mulish-lightitalic-webfont.woff2") format("woff2"),
    url("../fonts/mulish-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
