.narrowLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pageNarrow {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--cotton);
  padding: 2rem 0;
  background-image: asset-url("pattern.png");
}

.topLeft {
  background-image: asset-url("margins/top-left.png");
  position: absolute;
  top: -7.3rem;
  left: -7.8rem;
  width: 10.5rem;
  height: 20.7rem;
  transform: scale(0.5);
}

.topRight {
  background-image: asset-url("margins/top-right.png");
  position: absolute;
  top: -8.4rem;
  right: -4.5rem;
  width: 6rem;
  height: 20.7rem;
  transform: scale(0.5);
}

.bottomLeft {
  background-image: asset-url("margins/bottom-left.png");
  position: absolute;
  bottom: -8.6rem;
  left: -4.4rem;
  width: 6rem;
  height: 20.7rem;
  transform: scale(0.5);
}

.bottomRight {
  background-image: asset-url("margins/bottom-right.png");
  position: absolute;
  bottom: -9.8rem;
  right: -7.3rem;
  width: 9.9rem;
  height: 20.7rem;
  transform: scale(0.5);
}

.leftSide {
  background-image: asset-url("margins/left-side.png");
  position: absolute;
  bottom: -9.8rem;
  left: -7.3rem;
  width: 9.9rem;
  height: 20.7rem;
  transform: scale(0.5);
}

.rightSide {
}

.pageNarrow:before {
  content: "";
  position: absolute;
  top: -1.4rem;
  left: 0;
  width: 100%;
  height: 2rem;
  background-color: var(--cotton);
  transform: rotate(1deg);
  z-index: 0;
  background-image: asset-url("pattern.png");
}

.pageNarrow:after {
  content: "";
  position: absolute;
  bottom: -4rem;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--cotton);
  transform: rotate(1deg);
  background-image: asset-url("pattern.png");
}

.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 46.1rem;
  flex: 0 0 100%;
  width: 100%;
}

.logo {
  margin: 0 0 3rem 0;
  text-align: center;
}

.bg {
  background-image: asset-url("bg@2x.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: asset-url("pattern.png");
}
