<%= render(PageNarrow::Component.new) do %>
  <%= render(Authentication::Header::Component.new('Sign up')) %>

  <div style="width: 100%">
    <%= form_with model: User.new, url: registrations_path do |form| %>
      <%= render(UserForm::Component.new(form: form, submit_label: 'Sign up')) %>
    <% end %>
  </div>
<% end %>
