.grid {
  margin: 0 auto;
  max-width: 82rem;
}

.gridItem {
  margin-bottom: 3rem;
}

.disabled {
  opacity: 0.55;
}

.button {
  display: flex;
  justify-content: center;
}

.answer {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--purple);
  font-size: 1.7rem;
  padding-left: 1.7rem;
  line-height: 2.71;
  box-sizing: border-box;
  max-width: 40rem;
  border: 0.2rem solid transparent;
  color: var(--white);
  cursor: pointer;
}

.icon {
  width: 2.7rem;
  height: 3.7rem;
  background-image: url("../../../javascript/src/svg/whiteCrystal.svg");
  box-sizing: border-box;
  margin-right: 1.3rem;
}

.active .icon {
  background-image: url("../../../javascript/src/svg/yellowCrystal.svg");
  border: none;
}

.correct {
  background: var(--green);
}

.wrong {
  background: var(--red);
}
